%layout {
    background-color: #efefef;
    padding: 25px;
    margin: 0px 10px 10px 0px;
    overflow: hidden;
    box-shadow: 5px 5px 5px lightgrey;
    border-radius: 15px;
}

.container {
    justify-content: center;
    display: flex;

    .icon {
        @extend %layout;
        width: fit-content;
        margin-right: 30px;
        text-align: center;
    }
}

.container h2 {
    font-size: 24px;
}

.chats-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    height: auto;
    width: 1100px;
    align-self: center;
    padding: 0px 5px 5px 0px;
}

.wrapper {
    margin: 60px 70px;
    display: flex;
    justify-content: space-between;
    width: 1390px;
    margin-bottom: 90px;
    height: fit-content;
    gap: 100px
}

.chat-block {
    @extend %layout;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    align-items: center;
    cursor: pointer;

    h5, h6 {
        margin-top: 14px;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 20px;

        h2 {
            margin-top: 8px;
        }
    }
}

.disnone {
    display: none;
}

@media screen and (max-width: 1400px) {
    .wrapper {
        flex-direction: column;
    }

    .chats-container, .wrapper {
        align-items: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        gap: 25px;
        padding: 0;
    }

    .info {
        padding-right: 8px;
    }

    .icon {
        margin-right: 0px!important;
        width: 100%;
    }

    .chats-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .chat-block {
        padding: 30px;

        h6 {
            display: none;
        }
    }

    .disnone {
        display: block;
    }
}