@import './oplata.scss';
@import './media_component.scss';

img {
    width: 100%;
    border: 3px solid #623f55;
}

.wrapper, .blocks {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.blocks {
    gap: 100px;
    padding-bottom: 0;

    p {
        margin-bottom: 0;
        line-height: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .blocks {
        gap: 50px;
    }

    img {
        margin-top: 15px;
    }
}

* {
    background-color: #a6ba95!important;
    color: #623f55!important;
}