.container {
    background-color: rgb(145, 51, 208);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 30px 30px 0px 0px;
    height: 600px;
    gap: 50px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 1200px;
    color: #e6e6e6;
    padding-top: 60px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.scroll-up {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgb(208, 107, 248);
  color: #e6e6e6;
  position: fixed;
  bottom: 40px;
  align-self: flex-start;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  cursor: pointer;
}

.footer-col h2 {
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    padding-left: 30px;
    font-size: 28px;
}

.footer-col ul li {
    text-decoration: none;
    font-weight: 300;
    transition: all 0.5s ease;
    font-size: 21px;
    cursor: pointer;
}

.copyright {
  text-align: center;
  color: #e6e6e6;
}

.footer-col ul li:hover {
  opacity: 0.7;
}

.menu-bars {
    display: none;
}

@media screen and (max-width: 1300px) {
    .container {
        flex-direction: column;
        height: fit-content;
        gap: 20px;
    }

    .scroll-up {
        left: 25px;
        bottom: 90px;
    }
}

@media screen and (max-width: 1300px) {
    .container {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 15px 0px;
    }

    .footer, .copyright {
        display: none;
    }

    .menu-bars {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-self: center;

        img {
            cursor: pointer;
        }
    }
}