%flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(145, 51, 208);
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #e6e6e6;
    border-radius: 0px 0px 30px 30px;
}

.fa-bars {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 5px;
    font-size: 44px!important;
    height: 56px;
}

.btn {
    transition: 0.6s;
}

.header-bottom h1 {
    font-size: 44px!important;
    padding-top: 1px;
    color: #fff;
    cursor: pointer;
}

.container i {
    font-size: 32px;
    cursor: pointer;
    overflow: hidden;
}

.header-bottom input {
    width: 700px;
    font-size: 20px;
    height: 50px;
    box-shadow: none;
    border: none;
}

.box__user, .header__cart {
    flex-direction: column;
    @extend %flex;
    gap: 5px;
    cursor: pointer;
    font-size: 21px;
    transition: 0.5s;
}

.box__user:hover, .header__cart:hover {
    opacity: 0.8;
}

.header__menu, .header__search, .box {
    display: flex;
    gap: 35px;
}

.header__search {
    gap: 15px;
    @extend %flex;
}

.header-bottom {
    @extend %flex;
    gap: 60px;
}

.header__money {
    @extend %flex;
    gap: 5px;
}

.header-top {
    @extend %flex;
    gap: 40px;
    justify-content: left;
    margin-left: -1135px;
    margin-top: 10px;
}

.category-item {
    border-radius: 10px;
    background-color: rgb(145, 51, 208);
    color: #fff;
    padding: 20px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.7s;

    &:hover {
        opacity: 0.75;
    }
}

.space-menu {
    visibility: hidden;
    z-index: 999;
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    display: flex;
    background-color: rgba(255, 255, 255, 0.6);
}

.open-space {
    visibility: visible;
}

.appear-menu {
    overflow-y: hidden;
    padding: 0;
    width: 400px;
    position: absolute;
    transform: translateX(-120%);
    visibility: hidden;
    height: 100vh;
    transition-property: visibility, transform;
    transition-duration: 0.35s;
    top: 0;
    left: 0;
    z-index: 999;
    pointer-events: all;
    opacity: 1!important;

    .fa-times {
        font-size: 38px;
        color: rgb(91, 91, 91);
        opacity: 1!important;
        cursor: pointer;
        top: 10px;
        position: absolute;
        right: 15px;
    }
}

.categories::-webkit-scrollbar {
    border-radius: 15px;
    background-color: rgb(185, 185, 185);
}

.categories::-webkit-scrollbar-thumb {
    max-height: 50%;
    background-color: rgb(114, 114, 114);
    border-radius: 15px;
}

.categories {
    overflow-y: scroll;
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    padding: 30px 40px 50px 40px;
    gap: 30px;
    width: 85%;
    height: 100%;
}

.fa-times {
    display: none;
}

.opacity {
    pointer-events: none;
    opacity: 0.4;
}

.open-menu {
    visibility: visible;
    transform: translateX(0%);
}

@media screen and (min-width: 3000px) {
    .categories {
        overflow: hidden;
    }
}

@media screen and (max-width: 1400px) {
    .fa-times {
        display: block;
    }

    .container {
        flex-wrap: wrap;
        height: fit-content;
    }

    .header-bottom {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .box {
        gap: 80px;
    }

    .appear-menu {
        width: 340px;

        .categories {
            padding-left: 20px;
            padding-right: 20px;
        }

        .category-item {
            font-size: 14px;
        }
    }

    .header-top {
        padding: 0;
        margin: 0;
        margin-top: 30px;
    }

    .header__menu {
        margin-top: 15px;
    }

    .header__search {
        order: 4;
        margin: 10px 0px 30px 0px;
    }

    .header__search input {
        width: 300px;
    }
}

@media screen and (max-width: 1300px) {
    .box, .header-top {
        display: none;
    }

    .container {
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 997;
    }

    .header__menu {
        align-items: center;

        h1, i {
            font-size: 33px!important;
            height: fit-content;
            margin-bottom: 0;
        }
    }

    .header__search {
        margin-bottom: 28px;
        align-items: center;

        input[type="text"] {
            height: 40px;
        }
    }
}