.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .fa-pencil {
        font-size: 20px;
        margin-top: -3px;
        cursor: pointer;
    }

    .mail {
        display: flex;
        align-items: center;
        gap: 15px;

        i {
            margin-top: -15px;
        }
    }
}

.none {
    pointer-events: none;
    opacity: 0.4;
}

.username-block {
    display: flex;
    align-items: center;
    gap: 15px;

    h2 {
        font-size: 29.5px!important;
    }
}

.wrapper__1, .wrapper__2 {
    height: 190px;
    border-radius: 15px;
    background-color: #efefef;
    width: 1400px;
    margin: 60px 70px;
    padding: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: 7px 7px 15px lightgrey;
    transition: 0.35s;
}

.opacity {
    opacity: 0.4;
}

.wrapper__2 {
    height: 150px;
    margin-top: 10px;
    justify-content: space-between;
}

.wrapper__1 {
    justify-content: space-between;
}

.summ-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.user-data {
    display: flex;
    gap: 210px;
}

.rub {
    display: flex;
    gap: 15px;

    p {
        font-size: 35px;
    }

    i {
        margin-top: 11px;
        font-size: 35px;
    }
}

.container h2 {
    font-size: 24px;
}

.changemail, .changename {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 290px;
    border-radius: 15px;
    background-color: #efefef;
    padding: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 5px lightgrey;
    padding: 20px;

    i {
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 22px;
        cursor: pointer;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 25px;
    }

    input {
        width: 100%;
        margin: 8px 0px 20px 0px;
        box-shadow: none;
    }

    button {
        width: 100%;
        transition: 0.6s;
        margin: 10px 0px;
        color: rgb(145, 51, 208);
        border: 3px solid rgb(145, 51, 208);
        background-color: #fff;

        &:hover {
            background-color: rgb(145, 51, 208);
            opacity: 0.8!important;
            color: #fff;
        }
        
    }
}

@media screen and (max-width: 768px) {
    .wrapper__1, .wrapper__2 {
        width: 100%;
        margin-top: 40px;
    }

    .wrapper__1, .wrapper__2 {
        padding: 30px;
        flex-direction: column;
        height: 250px;

        .rub {
            width: 100%;
        }
    }

    .wrapper__1 {
        height: 400px;
        margin-bottom: 30px;
        padding-right: 65px;
    }

    .user-data {
        flex-direction: column;
        align-self: flex-start;
        margin-top: 10px;
        gap: 30px;
    }

    .container {
        padding: 40px 50px;
    }
}