@import '../scss/signup.scss';

.inner {
    h3 {
        margin-top: 10px;
    }

	.form {
        padding: 20px;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 450px;
        display: flex;
        padding-top: 40px;
        flex-direction: column;
	    border-radius: 10px;
	}
}

.form__submit {
    padding: 0 180px;
}