.wrapper {
    margin: 60px 70px 40px 70px;
}

.container__text {
    margin-top: 35px;
    max-width: 1300px;
    word-wrap: break-word;
}

.wrapper p {
    line-height: 35px;
    font-size: 20px;
}

.wrapper h2 {
    font-size: 24px;
}

@media screen and (min-width: 1700px) {
    .wrapper, .container__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        margin: 40px;
    }
}