%layout {
    background-color: #efefef;
    padding: 5px 20px;
    margin: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 6px lightgrey;
    border-radius: 15px;
}

.icon {
    @extend %layout;
    box-shadow: none;
    background-color: rgb(218, 218, 218);
    width: 95%;
    text-align: center;
    display: flex;
    justify-content: left;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
    margin: 0;

    p {
        margin: 0;
    }
}

.container h2 {
    font-size: 24px;
}

.chats-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    height: auto;
    align-self: left;
    padding: 0px!important;
    width: 1100px;
}

.wrapper {
    align-items: start;
    display: flex;
    flex-direction: column;
    margin: 56px 0px 0px 20px;
}

.info {
    align-self: flex-start;
    width: 100%;
    padding: 0;
}

.chat-block {
    @extend %layout;
    height: 80px;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    padding: 5px 40px;
    align-items: center;
    cursor: pointer;

    h5, h6 {
        margin-top: 14px;
    }

    .user {
        display: flex;
        align-items: center;
        gap: 20px;

        h2 {
            margin-top: 8px;
        }
    }
}

.disnone {
    display: none;
}

.no-chats {
    align-self: flex-start;
}

.container {
    margin: 0;
    min-width: 100%;
    padding-bottom: 80px;
}

.container::-webkit-scrollbar {
    background: rgb(208, 208, 208);
    width: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: rgb(145, 51, 208);
    width: 10px;
    height: 35%;
}

@media screen and (max-width: 900px) {
    .container {
        padding-top: 30px;
        padding-bottom: 60px;
        margin: 0;
        min-width: 100%!important;
    }

    .wrapper {
        flex-direction: column;
        margin-top: 0px;
        padding: 8px!important;
    }

    .chats-container, .wrapper {
        align-items: center;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        gap: 25px;
        padding: 20px;
    }

    .icon {
        width: 100%;

        img {
            width: 200px;
        }
    }

    .chats-container {
        padding-left: 10px!important;
        padding-right: 10px!important;
        margin-top: 0;

        h5, h6 {
            margin-top: 12px;
        }
    }

    .chat-block {
        padding: 10px;
        width: 100%;

        h6 {
            display: none;
        }
    }

    .disnone {
        display: block;
    }
}