@import './login.scss';

.wrapper {
    background: url('@/assets/images/seller.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    width: 100%;
}